body {
  margin: 0;
  background: url('./rasm\ back.jpg')
              no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

/* Linklar */
ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
}


ul li a {
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.3s;
}

/* Hover effekti */
ul li a:hover {
  border-bottom: 2px solid #00aaff;
  color: #00aaff;
}

/* 🔹 Umumiy sozlamalar
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('/1.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(167, 161, 161, 0.4); 
  backdrop-filter: blur(10px); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  z-index: 100;
  transition: all 0.3s;
}


.portfolio {
  margin: 0;
  font-size: 24px;
  color: #00aaff;
  font-weight: 700;
}

.links {
  list-style: none;  
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}


.links li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}


.links li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #00aaff;
  transition: width 0.3s;
}

.links li a:hover::after {
  width: 100%;
}

.links li a:hover {
  color: #00aaff;
}


body {
  padding-top: 80px;
} */
/* *{
	margin: 0;
	padding: 0;
}
body{
  background: url('/3.png') no-repeat center center fixed;
  background-size: cover; 
}
.navbar{
	position: fixed;
  width: 100%;
  background: rgba(167, 161, 161, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  transition:s  0.3s;
} */
/* .navbar{
  position: fixed;
  width: 100%;
  background: rgba(167, 161, 161, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  transition:s  0.3s;
} 
